<ion-content>
  <ion-grid style="height: 100%;">
    <ion-searchbar color="dark" placeholder="Buscar un libro..."></ion-searchbar>
    <ion-row>



        <ion-col *ngFor="let libro of libros()" size="12" size-md="6" size-lg="4">
          <ion-card>
            <img alt="portada" [src]="libro.ruta_img || default_img_url" />
            <ion-card-header>
              <ion-card-title>{{ libro.titulo }}</ion-card-title>
              <ion-card-subtitle> {{ libro.autor}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Género {{ libro.genero }}
            </ion-card-content>
          </ion-card>
        </ion-col>





    </ion-row>
  </ion-grid>
</ion-content>
