<ion-footer>
  <ion-toolbar class="footer-toolbar">
      <div class="footer-container">
      <ion-button (click)="goToAddBookComponent()" fill="clear" class="custom-button">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>

      <ion-button (click)="goToHomeComponent()" fill="clear" class="custom-button">
        <ion-icon name="home"></ion-icon>
      </ion-button>

      <ion-button (click)="goToWishListBookComponent()" fill="clear" class="custom-button">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      </div>
    </ion-toolbar>
  </ion-footer>
