<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-add-book">Nueva Lectura 📙</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #addBookForm="ngForm" class="form-container" (submit)="addBook(addBookForm)">
    <ion-item>
      <ion-label >Título</ion-label>
      <ion-input type="text" required [(ngModel)]="libro.titulo" minlength="3" name="titulo" #titulo="ngModel"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label >Autor</ion-label>
      <ion-input type="text" required [(ngModel)]="libro.autor" name="autor" minlength="3" #autor="ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select placeholder="Selecciona un género" required [(ngModel)]="libro.genero" name="genero">
        @for(genero of generos_array; track genero) {
          <ion-select-option>{{ genero }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de fin del libro </ion-label>
      <ion-datetime-button datetime="date"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="libro.fecha"
            id="date" presentation="date"></ion-datetime>

        </ng-template>
      </ion-modal>
    </ion-item>


        <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-button (click)="takePicture()">Seleccionar Imagen</ion-button>
    </ion-item>

    @if(image) {
      <div class="image-container">
        <img [src]="image" alt="Imagen seleccionada" class="book-image">
        <ion-button fill="outline" color="danger" class="delete-button" (click)="deleteImage()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    }

      <ion-button type="submit" class="submit-button" [disabled]="addBookForm.invalid">Agregar Libro</ion-button>

  </form>
</ion-content>
